<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="OcrSdkServicesSection" type="Abbyy.CloudSdk.Demo.WindowsApp.CustomConfigSections.OcrSdkServicesSection, Abbyy.CloudSdk.Demo.WindowsApp"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <OcrSdkServicesSection>
    <OcrSdkServices>
      <add Address="https://cloud-eu.ocrsdk.com" Description="EU" />
      <add Address="https://cloud-westus.ocrsdk.com" Description="US" />
    </OcrSdkServices>
  </OcrSdkServicesSection>
</configuration>
